
/* Default custom colors */

:root {
	--color-theme-l5: #F2F9FE;
	--color-theme-l4: #D2EAFD;
	--color-theme-l3: #A6D4FA;
	--color-theme-l2: #79BFF8;
	--color-theme-l1: #4DAAF6;
	--color-theme-c0: #2196F3;
	--color-theme-d1: #0C87EB;
	--color-theme-d2: #0B78D1;
	--color-theme-d3: #0A69B7;
	--color-theme-d4: #085A9D;
	--color-theme-d5: #074B83;
}

/* End Default custom colors */

body {
	background-color: #F5F5F5;
}

/* Selection color *

::selection {
  background: var(--tertiary-color);
}

::-moz-selection {
  background: var(--tertiary-color);
}

/* End Selection color */

/* Scrollbar *

.main::-webkit-scrollbar-track,
.navbar::-webkit-scrollbar-track
{
	border-radius: 10px;
}

.main::-webkit-scrollbar,
.navbar::-webkit-scrollbar
{
	width: 5px;
}

.main::-webkit-scrollbar-thumb,
.navbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--tertiary-color);
}

.navbar::-webkit-scrollbar
{
	background-color: var(--secondary-color);
}

/* End Scrollbar */

/* Nav */

.navbar {
	/*overflow-y: auto;*/
}

.navbar-inverse {
	background: var(--color-theme-d2);
}

.navbar-inverse .navbar-nav a:hover,
.navbar-inverse .navbar-nav a:focus,
.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:hover,
.navbar-inverse .navbar-nav .active a:focus {
	background: var(--color-theme-c0);
	box-shadow: none;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background:  red;
}

nav.sidebar.navbar {
	border-radius: 0px;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > a {
    color: #CCCCCC;
	text-shadow: none;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: var(--color-theme-d1);
}

nav.sidebar.navbar.sidebar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
	margin-left: 0px;
}

nav.sidebar,
.main {
	-webkit-transition: margin 200ms ease-out;
	-moz-transition: margin 200ms ease-out;
	-o-transition: margin 200ms ease-out;
	transition: margin 200ms ease-out;
}

nav.sidebar .navbar-brand,
nav.sidebar .navbar-header {
	width: 100%;
	text-align: center;
	background-color: var(--color-theme-d3);
}

nav.sidebar .navbar-header {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

nav.sidebar .navbar-nav .open .dropdown-menu {
	position: static;
	float: none;
	width: auto;
	margin-top: 0;
	background-color: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
	padding: 0;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	color: #CCCCCC;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
	color: #CCCCCC;
	background-color:  var(--color-theme-d3);
	background-image: none;
}

nav.sidebar {
	width: 250px;
	height: 100%;
	margin-left: -210px;
	float: left;
	z-index: 8000;
	margin-bottom: 0px;
}

@media (max-width: 767px) {
	nav.sidebar {
		width: 200px;
		margin-left: -160px;
	}
}

nav.sidebar:hover {
	margin-left: 0px;
}

nav.sidebar li {
	width: 100%;
}

nav.sidebar li a {
	padding-top: 20px;
	padding-bottom: 20px;
}

@media (min-width: 1330px) {
	nav.sidebar {
		margin-left: 0px;
	}
}

.navbar-nav {
    margin: 0;
}

nav span.glyphicon {
	font-size: 16px;
	float: right !important;
}

.navbar-brand span.glyphicon {
	float: none;
	margin-left: 10px;
}

/* End Nav */

/* Main */

.main {
	padding: 10px 10px 0 10px;
	position: absolute;
	height: 100%;
	width: calc(100% - 40px);
	margin-left: 40px;
	float: right;
	overflow-y: scroll;
}

@media (min-width: 1330px) {
	.main {
		width: calc(100% - 250px);
		margin-left: 250px;
	}
}

/* End Main */

/* Form */

.form-group {
	margin-bottom: 50px;
}

.form-control option:hover {
	background-color: red;
}

.form-control:focus {
	border-color: var(--tertiary-color);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px var(--tertiary-color);
  	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px var(--tertiary-color);
  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px var(--tertiary-color);
}

.avatar {
	background-repeat: no-repeat;
	height: 150px;
	width: 150px;
}

.btn-file {
	position: relative;
	left: 125px;
	top: 125px;
	background-color: var(--secondary-color);
	color: #FFFFFF;
	overflow: hidden;
	width: 35px;
}

.btn-file:hover {
	background-color: var(--primary-color);
	color: #FFFFFF;
}

.btn-file input[type=file] {
    cursor: pointer;
}

/*.btn-file {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 35px;
    overflow: hidden;
	background-image: none;
	background-color: var(--secondary-color);
	color: #FFFFFF;
}

.btn-file:hover {
	background-color: var(--primary-color);
	color: #FFFFFF;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    cursor: inherit;
	opacity: 0;
}

/* End Form */

.well {
	border-radius: 0;
	background: #FFFFFF;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.form-control {
	padding-left: 0;
	padding-right: 0;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #9E9E9E;
	box-shadow: none;
	transition: all .2s ease-in-out;
}

.form-control:focus {
	border-bottom: 1px solid var(--color-theme-d3);
    box-shadow: 0 1px 0 0 var(--color-theme-d3);
}

label.control-label {
  	position: absolute;
	color: #888;
	cursor: text;
	top: .8rem;
	transition: all .25s ease-in-out;
}

:focus + label.control-label {
	font-size: 12px;
  	color: var(--color-theme-d3);
  	top: -1rem;
}

select + label.control-label {
  	top: -1rem;
	left: .3rem;
}

select {
	padding-left: 0;
	padding-right: 0;
}