/*!* Media queries *!*/

/*!* xs-max *!*/
/*@media (max-width: 767px) {*/
/*}*/

/*!* sm-min *!*/
/*@media (min-width: 768px) {*/
/*}*/

/*!* sm-max *!*/
/*@media (max-width: 991px) {*/
/*}*/

/*!* md-min *!*/
/*@media (min-width: 992px) {*/
/*}*/

/*!* md-max *!*/
/*@media (max-width: 1999px) {*/
/*}*/

/*!* lg-min *!*/
/*@media (min-width: 1200px) {*/
/*}*/

/*!* End Media queries *!*/

/*!* General *!*/

body {
    background-color: #F5F5F5;
}

/*!* End General *!*/

/* Sidebar */

#sidebar {
    overflow-y: auto;
    width: 250px;
    height: 100%;
    margin-left: -210px;
    float: left;
    z-index: 99999;
    margin-bottom: 0;
}

#sidebar:hover {
    margin-left: 0;
}

#sidebar::-webkit-scrollbar {
    width: 0;
}

@media (max-width: 991px) {
    #sidebar:hover::-webkit-scrollbar {
        width: 5px;
    }
}

@media (min-width: 992px) {
    #sidebar::-webkit-scrollbar {
        width: 8px;
    }
}

#sidebar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

#sidebar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
}

#sidebar.navbar-inverse {
    border: none;
    background: var(--d2);
}

#sidebar .navbar-nav a:hover,
#sidebar .navbar-nav a:focus,
#sidebar .navbar-nav .active a,
#sidebar .navbar-nav .active a:hover,
#sidebar .navbar-nav .active a:focus {
    color: #FFFFFF;
    background: var(--c0);
    box-shadow: none;
}

#sidebar .navbar-toggle:hover,
#sidebar .navbar-toggle:focus {
    background: red;
}

#sidebar.navbar {
    border-radius: 0;
}

#sidebar .navbar-brand {
    color: #FFFFFF;
}

#sidebar .navbar-nav > li > a {
    color: #CCCCCC;
    text-shadow: none;
}

#sidebar .navbar-nav > li > a:hover,
#sidebar .navbar-nav > li > a:focus {
    background-color: var(--d1);
}

.navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}

#sidebar,
.main {
    transition: all 200ms ease-in-out;
}

#sidebar .navbar-brand,
#sidebar .navbar-header {
    width: 100%;
    text-align: center;
}

#sidebar .navbar-header {
    background-color: var(--d3);
}

#sidebar .navbar-header {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    margin: 0;
}

#sidebar .navbar-header img {
    margin-top: 10px;
    height: 75px;
    width: 75px;
}

@media (max-width: 991px) {
    #sidebar .navbar-header img {
        height: 30px;
        width: 30px;
        position: absolute;
        right: 6px;
    }
}

#sidebar .navbar-nav .open .dropdown-menu {
    position: static;
    width: 100%;
    background-color: transparent;
    padding: 0;
}

#sidebar .navbar-collapse, #sidebar .container-fluid {
    padding: 0;
}

#sidebar .navbar-nav .dropdown.open .dropdown-menu > li > a {
    color: #CCCCCC;
}

#sidebar .navbar-nav .dropdown.open .dropdown-menu > li > a:hover,
#sidebar .navbar-nav .dropdown.open .dropdown-menu > li > a:focus {
    color: #CCCCCC;
    background: var(--d1);
}

#sidebar .navbar-nav .dropdown.open a {
    background: var(--d3);
}

#sidebar li {
    width: 100%;
}

#sidebar li a {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 992px) {
    #sidebar {
        margin-left: 0;
    }
}

.navbar-nav {
    margin: 0;
}

.navbar-nav span.glyphicon {
    font-size: 16px;
    float: right !important;
}

.navbar-brand {
    padding-top: 5px;
}

h1.navbar-brand {
    font-size: 24px;
}

/* End Sidebar */

/* Login Sidebar */

[login] #sidebar {
    outline: none;
    margin-left: -250px;
}

[login] #sidebar:hover,
[login] #sidebar:focus {
    margin-left: 0;
}

@media (min-width: 992px) {
    [login] #sidebar {
        margin-left: 0;
    }
}

/* End Login Sidebar */

/* Header */

.header {
    position: fixed;
    padding: 20px 50px;
    width: calc(100% - 40px);
    z-index: 99998;
    background-color: var(--d4);
    color: #FFFFFF;
    font-size: 18px;
    right: 0;
}

.header {
    transition: all 200ms ease-in-out;
}

@media (min-width: 992px) {
    .header {
        width: calc(100% - 250px);
    }
}

.header a,
.header a:hover,
.header a:focus {
    margin-left: 25px;
    text-decoration: none;
    color: #FFFFFF;
    float: right;
    cursor: pointer;
}

/* End Header */

/* Login Header */

[login] .header {
    width: 100%;
}

@media (min-width: 992px) {
    [login] .header {
        width: calc(100% - 250px);
    }
}

/* End Login Header */

/* Main */

.main {
    padding: 10px 10px;
    position: absolute;
    height: calc(100% - 65px);
    width: calc(100% - 40px);
    margin-top: 65px;
    margin-left: 40px;
    float: right;
    overflow-y: scroll;
}

@media (min-width: 992px) {
    .main {
        width: calc(100% - 250px);
        margin-left: 250px;
    }
}

.main > .well {
    min-height: 100%;
    margin: 0;
}

/* End Main */

/* Login Main */

[login] .main {
    width: 100%;
    margin-left: 0;
}

@media (min-width: 992px) {
    [login] .main {
        width: calc(100% - 250px);
        margin-left: 250px;
    }
}

/* End Login Main */

/* Avatar */

.avatar {
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.avatar .glyphicon {
    cursor: pointer;
    position: relative;
    top: 115px;
    font-size: 20px;
    background-color: var(--d3);
    border-radius: 50%;
    padding: 10px;
    color: #fff;
}

.avatar .glyphicon-camera {
    left: 115px;
}

.avatar .glyphicon-remove {
    right: 50px;
}

/* End Avatar */

/* Form Login */

#frm-login {
    margin-top: 150px;
    margin-bottom: 25px;
    padding: 0 15px;
}

#frm-login .form-control {
    border: none;
    background: #fff none;
    margin-bottom: 0;
}

#frm-login .input-group {
    margin-bottom: 25px;
}

#frm-login .form-group {
    margin: 0;
    padding-bottom: 0;
}

#frm-login [type="text"].form-control {
    padding-right: 10px;
}

#frm-login .input-group-addon {
    border-radius: 0;
    border: none;
    background-color: #FFFFFF;
    color: var(--d2);
}

#frm-login > label {
    display: block;
}

#frm-login > a {
    margin-bottom: 25px;
}

/* End Form Login */

/* Table */

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #EEEEEE;
}

.table-hover > tbody > tr:hover {
    background-color: #dddddd;
}

.table-hover td,
.table-hover th {
    padding: 3px 0;
}

/* End Table */

/* Feature card */

.feature-card {
    width: 90%;
    height: auto;
    text-align: center;
    margin-top: 3em;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
    -webkit-transition: 0.2s ease;
}

.feature-card:hover {
    width: 90%;
    height: auto;
    text-align: center;
    -ms-transform: scale(1.1, 1.1); /* IE 9 */
    -webkit-transform: scale(1.1, 1.1); /* Safari */
    transform: scale(1.1, 1.1);
}

.feature-img {
    width: 30%;
    height: 30%;
    border-radius: 100px;
}

.not-rounded {
    border-radius: 0;
}

.feature-title {
    font-weight: bold;
    display: inline;
    margin-left: 1em;
    color: rgb(64, 111, 173);
}

.feature-text {
    font-weight: bold;
}

.feature-link:link {
    text-decoration: none;
}

.feature-link:visited {
    text-decoration: none;
}

.feature-link:hover {
    text-decoration: none;
}

.feature-link:active {
    text-decoration: none;
}

@media (max-width: 991px) {
    .feature-card {
        margin-top: 2em;
    }
}

/* End Feature card */

/* Home img */

.logo-main {
    margin-top: 5px;
    margin-bottom: 8px;
}

@media (max-width: 991px) {
    .logo-main {
        width: 50%;
        height: 50%;
    }
}

.text-main {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

@media (max-width: 991px) {
    .text-main {
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        font-weight: bold;
        font-size: 1em;
    }
}

/* End Home img */
